html, body{
    background-color: #444;
    color: white;

    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    width: 100%;

    flex-direction: row;
    justify-content: start;
    align-items: center;

    background-color: #222;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 50px;
}

header nav .nav_separator{
    width: 2px;
    height: 50%;

    background-color: white;
}

header nav .nav_group{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0;
    margin-left: 20px;
    margin-right: 20px;

    height: 30px;
}

header nav .nav_group a{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    text-decoration: none;
    color: white;
}

header nav .nav_group > *:not(:first-child){
    color: #bbb;
}

header nav .nav_group a:hover{
    text-decoration: underline;
    color: white;
}

header nav .nav_group a.selected{
    text-decoration: underline;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 75%;
    margin: 10px;
}