#recordings_table{
    border: 1px solid black;
    background-color: #333;
    text-align: center;
}

#recordings_table .separator_row td{
    font-weight: bold;
    padding: 10px;
}

#recordings_table th,
#recordings_table td{
    border: 1px solid black;
}

#col_id{
    width: 100px;
}

#col_thumb{
    width: 150px;
}

#col_source{
    width: 150px;
}

#col_dates{
    width: 250px;
}

#col_duration{
    width: 100px;
}

#col_actions{
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#recordings_table .action_button{
    width: 75%;
}

#recordings_table .date_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

#recordings_table .utc_date{
    filter: brightness(50%);
}

#recordings_table .thumb{
    width: auto;
    max-height: 50px;
}

#recordings_table .thumb_popup{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50%;
    display: none;
    z-index: 10;
}

#recordings_table .thumb_td:hover .thumb_popup{
    display: block;
}