table{
    border: 1px solid black;
    text-align: center;
}

table th, table td{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;

    border: 1px solid black;
}

table col{
    min-width: 100px;
}

main table a{
    color: white;
    text-decoration: none;
}

main table a:hover{
    color: white;
    text-decoration: underline;
}