<div class="control_item" id="limit_controls">
    <h3>Result Count</h3>

    <select id="limit_select" onchange="updateOnFilter();">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>

<div class="control_item" id="source_controls">
    <h3>Filter Sources</h3>

    <div id="source_select_container">
        <% for( let source of sources ) { %>
            <div class="source_select">
                <input type="checkbox" class="source_checkbox" data-id="<%= source.id %>" id="source_check_<%= source.id %>">
                <label for="source_check_<%= source.id %>"><%= source.name %></label>
            </div>
        <% } %>
    </div>

    <button onclick="updateOnFilter();">Update</button>
</div>

<div class="control_item" id="jump_ts_controls">
    <h3>Jump to</h3>

    <form class="date_time_inputs">
        <input type="date" class="date_input">
        <input type="time" class="time_input">

        <div>
            <input type="button" value="Jump" onclick="updateOnJumpStart();">
            <input type="reset" value="Reset">
        </div>
    </form>
</div>